body {
    background-color: rgb(168, 168, 168);
}

.container{
    padding-top: 5%;
}

.row {
    margin-bottom: 2%;
}

.btn {
    padding: 2% 6%;
    font-size: 7pt;
    font-weight: bold;
}

.jumbotron{
    background-color: rgb(110,110,110);
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}

    .jumbotron > h3 {
        font-size: 10pt;
        color: rgb(166, 166, 166);
    }

    .jumbotron > h1 {
        font-size: 20pt;
        font-weight: bold;
        color: white;
    }

    .jumbotron > hr {
        border: 1px solid rgb(166, 166, 166);
        width: 3%;
    }

    .jumbotron > p {
        font-size: 9pt;
        font-weight: bold;
        color: white;
    }

.lista-filmes {
    column-count: 4;
    column-gap: 10px;
}

.detalhe-filme {
    background-color: white;
    padding: 7% 5%;
    margin-bottom: 3%;
}

.checkbox-filme {
    position: absolute;
    opacity: 0;
  }

    .checkbox-filme + label {
      position: relative;
      cursor: pointer;
      padding: 0;
      color: #4a4a4a;
      font-weight: normal;
      font-size: 9pt;
    } 
  
      .checkbox-filme + label:before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 17px;
        height: 17px;
        border: solid 1px #979797;
        
      }
  
        .checkbox-filme:checked + label {
          font-weight: bold;
          font-size: 8pt;
        }
  
        .checkbox-filme:checked + label:before {
          background-color: rgb(52, 52, 52);
          border: solid 1px rgb(52, 52, 52);
        }
    
      .checkbox-filme:checked + label:after {
        content: "\2713";
        top: 45%;
        left: 14px;
        width: 20px;
        color: #fff;
        font-weight: normal;
        position: absolute;
        transform: translate(-50%, -50%);
      }
    
      .checkbox-filme:disabled + label {
        color: #b8b8b8;
        cursor: auto;
      }
  
      .checkbox-filme:disabled + label:before {
        box-shadow: none;
        background: #ddd;
      }