<div class="container">
  <div class="jumbotron">
    <h3>CAMPEONATO DE FILMES</h3>
    <h1 class="display-4">Fase de Seleção</h1>
    <hr>
    <p>Selecione 8 filmes que você deseja que entrem na competição e depois pressione o botão GERAR MEU CAMPEONATO para
      prosseguir.</p>
  </div>
  <div class="row">
    <div class="col-6">
      <span class="contador-selecao">Selecionados {{totalSelecionado}} de 8 filmes</span>
    </div>
    <div class="col-6 text-right">
      <button type="button" class="btn btn-dark" [disabled]="!totalSelecionadoValido()" (click)="gerarMeuCampeonato()">GERAR MEU
        CAMPEONATO</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 lista-filmes">
      <div *ngFor="let filme of filmes; let i = index" class="detalhe-filme">
        <input type="checkbox" class="checkbox-filme" name="options" id="{{i}}" value="{{filme.id}}" [checked]="filme.selecionado"
          (change)="filmeSelecionado(filme, $event)" [disabled]="totalSelecionadoValido() && !filme.selecionado" />
        <label for="{{i}}">{{filme.titulo}} ({{filme.ano}})</label>
      </div>
    </div>
  </div>
</div>