<div class="container">
  <div class="jumbotron">
    <h3>CAMPEONATO DE FILMES</h3>
    <h1 class="display-4">Fase de Seleção</h1>
    <hr>
    <p>Selecione 8 filmes que você deseja que entrem na competição e depois pressione o botão GERAR MEU CAMPEONATO para
      prosseguir.</p>
  </div>
  <div class="row">
    <div class="col-6">
      <span class="contador-selecao">Selecionados 0 de 8 filmes</span>
    </div>
    <div class="col-6 text-right">
      <button type="button" class="btn btn-dark">GERAR MEU CAMPEONATO</button>
    </div>
  </div>
  <div class="row" style="background-color: red;">
    <div class="col-12">
      <span class="contador-selecao">asfaf</span>
    </div>
  </div>
</div>